/*---------
    RESET
-----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*----------
    HEADER
-----------*/

.header-top {
    background-color: #add8e6;
    padding: 15px 0;
}

.header-bottom {
    background-color: #00008b;
    padding: 30px 0;
    display: flex;
    
}

.header-top > .container {
    display: flex;
    background-color: #daa520;
}

.header-top > .container > * {
    border: 1px dashed black;
    padding: 6px;
}

.header-top .logo, .header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.header-top nav {
    width: 60%;
    text-align: center;
}

.hero {
    background-color: #ee82ee;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px dashed black;
}

/*-----------
   SECTION
-----------*/

.container-2 {
    display: flex;
    padding: 30px 0;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.cal-small {
    background-color: #ffc0cb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    margin: auto;
    border: 1px dashed black;
}

.col-big {
    background-color: #1e90ff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 0;
    border: 1px dashed black;
}
/*-----------
   SECTION
-----------*/

.container-3 {
    display: flex;
    padding: 30px 0;
    background-color: #d3d3d3;
    flex-direction: column-reverse;
}

.flex-item-4 {
    background-color: #ffc0cb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    margin: auto;
    border: 1px dashed black;
}

.flex-item-5 {
    background-color: #1e90ff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 0;
    border: 1px dashed black;
}

.container-3 {
    display: flex;
    padding: 30px 0;
    background-color: #d3d3d3;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.flex-item-6 {
    background-color: #228b22;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    margin: 0;
    border: 1px dashed black;
}

/*-----------
   FOOTER
-----------*/
footer {
    background-color: #23272a ;
}

.footer-top > .container {
    display: flex;
}

.footer-top .col-small {
    width: 30%;
}
.footer-top .col-big {
    width: 70%;
}
